.navbar
    background-color: $gray-bg
    padding-bottom: 105px
    &-block
        padding-top: 25px
        display: flex
        justify-content: flex-start
        align-items: center
    &-links
        cursor: pointer
        list-style: none
        padding-left: 0
        font-size: 16px
        margin-right: 226px
    &-links__item
        float: left
        margin-right: 40px
        &:after
            content: ''
            display: block
            width: 0%
            height: 2px
            background-color: orange
            transition: .4s ease-out
        &:hover:after
            width: 100%
    &-links__item:last-child
        margin-right: 0
    &__logo
        margin-right: 126px
    &-info
        display: flex
        align-items: center
        &__call
            &__img
                margin-top: 8px
                margin-left: 40px
            &__number
                float: right
                margin-top: 20px
                margin-left: 16px
                text-decoration: none 
                +bold
                font-size: 18px
                color: $text-color
